.room-content {
  margin-top: 50px;
}

.room-image {
  position: relative;
  right: 0;
  top: 0;
  bottom: -420px;
  width: 600px;
  max-height: 270px;
  opacity: 0;
  overflow: hidden;
}

.room-image-start {
  position: absolute;
  left: 0;
  bottom: -420px;
  width: 600px;
  max-height: 670px;
  opacity: 0;
  overflow: hidden;
}
