 <ul class="nav navbar-nav pull-right form-group">
   <li><h4>{{ loggedInUser?.displayName }}</h4></li>
   <li><img class="img-thumbnail" width="50px" [src]="loggedInUser?.photoURL"></li><br/>
    <li>
      <select class="form-control" (change)="onChangeValue($event.target.value)">
        <option *ngFor="let userChoice of userChoices" onChange>{{userChoice}}</option>
    </select>
    </li>
    <!--<li class="dropdown">-->
      <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" [(ngModel)] = "selectedValue"><button class="butons btn btn-secondary"> PROVIDER:  <span class="caret"></span></button></a>-->
      <!--<ul class="dropdown-menu">-->
        <!--<li *ngFor="let userChoice of userChoices"><a href="#">{{userChoice}}</a></li>-->
      <!--</ul>-->
    <!--</li>-->

    <li><button class="buttons btn btn-success navbar-btn" [disabled]="loggedInUser" (click)="login()">Log In</button></li>
    <li><button class="buttons btn btn-danger navbar-btn" [disabled]="!loggedInUser" (click)="logout()">Log Out</button></li>
  </ul>


