<div>
  <h1 class="">
    Room Reservations for ID: {{ roomId }}
  </h1>

  <div class="">
    <button  routerLink="../form">Make One</button>
    <p>There are {{ reservations?.length || 'no'}} reservation(s) today</p>
  </div>

  <div *ngFor="let reservation of reservations">
    <p>
      <span class="reservation-row-header">{{reservation.email}}</span>
      <span class="reservation-row-reason">{{reservation.reason}}</span>
      <span class="reservation-row-date">{{reservation.startDateTime}} - {{reservation.endDateTime}}</span>
    </p>
  </div>
</div>
